.repoContainer {
  width: 500px;
  height: 140px;
  padding: 16px;
  display: flex;
  margin: 16px 0;
  max-width: 500px;
  line-height: 2.3;
  border-radius: 6px;
  align-items: center;
  border: 1px solid #e1e4e8;
}

.about {
  width: 100%;
}

.name {
  font-size: 18px;
  cursor: pointer;
  color: #0366d6;
  font-weight: 600 !important;
}

.name:hover {
  text-decoration: underline;
}

.description,
.language {
  font-size: 16px;
  color: #586069 !important;
}

.description {
  line-height: 1;
}

.languageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colorLanguage {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 100%;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: flex;
  align-items: center;
}

.starCount {
  margin-top: 5px;
  margin-right: 2px;
  color: #586069 !important;
}

img {
  cursor: text;
}

@media (max-width: 800px) {
  .repoContainer {
    width: 95%;
    margin: 16px auto;
  }
}
