@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

.repositoryRoot {
  width: 100%;
}

.repositoryContainer {
  display: flex;
  padding: 100px 150px 0;
}

.ownerSection {
  width: 30%;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: flex-start;
  color: #586069 !important;
  font-family: "roboto", sans-serif;
}

.ownerSection .avatar {
  height: auto;
  width: 230px !important;
  border: 1px solid #e1e4e8;
  border-radius: 50% !important;
}

.userName {
  font-size: 28px;
  color: #24292e;
  font-weight: bold;
}

.userBio {
  margin: 20px 0;
  font-size: 16px;
  max-width: 250px;
  color: #24292e;
}

.moreDetailsAboutUser {
  font-size: 16px;
  color: #24292e;
  border-radius: 8px;
  padding: 10px 100px;
  text-decoration: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.moreDetailsAboutUser:hover {
  background-color: #eeeeee;
}

.follow {
  width: 230px;
  display: flex;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 20px;
  align-items: center;
  color: #586069 !important;
  justify-content: space-between;
}

.follow img {
  width: 24px;
  height: 24px;
  border: none;
}

.follow div {
  display: flex;
}

.follow div span,
.follow div a {
  display: flex;
  color: #24292e;
  font-weight: 600;
  margin-right: 5px;
}

.detailsUser {
  width: 230px;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: start;
}

.detailsUser div img {
  height: 18px;
  margin-right: 5px;
}

.detailsUser div a {
  color: #24292e;
  text-decoration: none;
}

.detailsUser div a:hover {
  color: #0366d6;
  text-decoration: underline;
}

/* PREFACE REPOSITORY */
.prefaceRoot {
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  font-size: 24px;
  color: #0366d6;
  margin-left: 26px;
}

.navigation a {
  margin: 0 5px;
  cursor: pointer;
  color: #0366d6;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation a ~ a {
  font-weight: bold;
}

.prefaceDescription {
  padding: 15px;
  font-weight: 400;
  margin-left: 18px;
  color: #586069 !important;
  font-family: "Inter", sans-serif;
}

.stars {
  top: 0;
  right: 0;
  position: absolute;
}

.dounut {
  right: 0;
  width: 500px;
  position: absolute;
}

.contributors {
  padding: 15px;
  margin-left: 15px;
}

.contributors h1 {
  font-size: 24px;
  color: #24292e;
  font-weight: 500;
  margin-top: 15px;
  font-family: "roboto" !important;
}

.contributorItem {
  padding: 10px;
  display: grid;
  grid-gap: 24px;
  list-style-type: none;
  grid-template-columns: repeat(2, 1fr);
}

.contributorItem a {
  cursor: pointer;
  color: #0366d6;
  text-decoration: none;
}

.contributorItem a:hover {
  text-decoration: underline;
}

.contributorItem div {
  text-decoration: none;
  color: #24292e !important;
  font-family: "roboto" !important;
}

@media (max-width: 1200px) {
  .repositoryContainer {
    display: flex;
    padding: 100px 30px 0;
    flex-direction: column;
  }

  .ownerSection .avatar {
    width: 20% !important;
  }

  .ownerSection {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    align-items: flex-start;
  }

  .aboutUser {
    display: flex;
    align-items: center;
  }

  .aboutUser div {
    margin-left: 16px;
  }

  .userName {
    font-size: 20px;
  }

  .userBio {
    width: 100%;
    max-width: none;
  }

  .moreDetailsAboutUser {
    width: 100%;
    max-width: 720px;
    text-align: center;
  }

  .navigation {
    margin: 0;
  }
}

@media (max-width: 890px) {
  .bodyRepository {
    flex-direction: column;
  }

  .dounut {
    width: 100%;
    margin: 20px 0;
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contributors {
    width: 100%;
  }

  .contributorItem {
    display: flex;
    justify-content: space-between;
  }
}
